.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
img {
  margin-top: -8px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
}