@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Permanent+Marker&display=swap');


body {
  background-image: url('https://i.imgur.com/nW6voXx.png');
  background-size: cover;
}

.App {
  text-align: center;
  font-family: 'Dekko', cursive;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

p {
  font-size: 18px;
}

img {
  margin-top: -10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
}

.location-container {
  justify-content: center;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.2fr 0.8fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a c"
    "b c";
  height: 325px;
  width: 70%; 
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-image: url('https://i.imgur.com/oylevbg.jpg');
  background-size: cover;
  padding: 1em;
	border: 16px solid transparent;
	border-image: 16 repeating-linear-gradient(-45deg, #c44350 0, #c44350 1em, transparent 0, transparent 2em, #58a 0, #58a 3em, transparent 0, transparent 4em);
	

}

.location {
  grid-area: a;
}

#new-comment {
  grid-area: b;
}

.comment-container {
  grid-area: c;
}

.info {
  margin-bottom: 5px;
}

.comment-item {
  text-align: left;
}

input {
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Dekko', cursive;
  font-size: 16px;
}

.user {
  width: 100px;
}

.rating {
  width: 40px;
}

button {
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Dekko', cursive;
  font-size: 16px;
}

.toggle {
  margin-top: 0;
  width: 100px;
  background-color: grey;
}

